.day__add {
  padding: 0 20px 20px;
}

.single-day__wrapper {
  display: flex;
  align-items: center;
}

.single-day {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #F8F8F8;
}

.single-day__heading {
  margin: 10px auto 10px 10px;
}

.add-field--day {
  padding: 2px 8px;
}