.group-edit__heading {
  margin: 0;
}

.group-edit__add {
  padding: 0 20px 20px;
}

.group-edit__field {
  margin-bottom: 5px;
}

// STUDENT

.student {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #F8F8F8;
}

.student__heading {
  margin: 10px auto 10px 10px;
}